* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
  color: greenyellow;

}

h1 {
  font-size: 3rem;
}
