.body {
  padding: 2rem;
  min-height: 100vh;
  background-color: #777;
  text-align: center;

}

.header {
  background-color:brown;
  margin: 2rem;
  padding: 2rem;
}

.header p, .footer p {
    font-size: 2rem;
}

.footer {
  background-color: cornflowerblue;
    margin: 2rem;
  padding: 2rem;
}

.main {
 background-color: #999;
 min-height: 50%;
 padding: 2rem;
 margin: 2rem;
 font-size: 3rem;
}

.main p {
   text-align:start;
   font-size: 2rem;
   margin: 2rem 0;
}

.dashboard {

  gap: 1rem;
  background-color: #aaa;
  height: 100%;
  padding: 1rem;
 border-radius:10px;
}

.section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background-color: #ccc;
 border-radius:10px;
  

}

.wrapper {
  display: flex;
  flex-direction:column;
}
