.wrapper {
  display: flex;
  flex-direction:column;
}

.wrapper a:link, .wrapper a:visited, .wrapper a:hover, .wrapper a:active{
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
  color:darkgreen;

}
